<body>
    <div style="text-align:center">
        <h1>
            {{ titulo }}
        </h1>
        <img width="300" alt="Logo Proyecto" src="/assets/fiuuuu.jpg">
    </div>
    <h2> </h2>
    <br><br><br><br>
    <!--------------------------------------------------------------------------------------------->
    <!-- ***************************************************************************************** -->
    <!-- se incluye el link para la otra página -->
    <div class="dir">
        <h3><a routerLink="/Tipos-Documentos">TIPOS DE DOCUMENTOS</a></h3>
    </div>
</body>